* {
    font-family: "poppins";
}

.line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 47%;
    height: 1px;
    background-color: #B7B7B7;
}

.line {
    position: relative;
    text-align: center;
}

.line:after {
    content: "";
    position: absolute;
    width: 47%;
    right: 0;
    top: 10px;
    height: 1px;
    background-color: #B7B7B7;
}

/* #profileDropdown{
    display: none;
} */

.bg-color:nth-child(even) {
    background-color: #FFFFFF;
}

.bg-color:nth-child(odd) {
    background-color: #EEF8F5;
}

/* train page */
.trains-table-headers {
    display: none !important;
}

.trains-table-headers:first-child {
    display: flex !important;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    font-weight: 600;
    font-family: 'Poppins';
}