{% extends 'base.html' %} {% load static %} {% block content %}
<div class="mx-28 bg-[#FBFBFB] mb-5">
  <p class="mt-20 text-sm font-poppins text-center">
    <b>Hi {{user.username}},</b> I am your AI Chatbot, you can ask me anything.
  </p>
  <div class="messages-list">
    {% for key, value in chats %} {% if value.user == request.user %}
    <div class="mt-8 flex gap-x-5 items-center">
      <img src="{% static 'images/basit.png' %}" alt="profile-img" />
      <p class="font-normal font-poppins">{{ value.message }}</p>
    </div>
    <p class="text-xs mt-3 ml-14 font-poppins">{{ value.created_at }}</p>

    <div class="mt-8">
      <div class="flex items-start gap-x-3 w-[90%]">
        <img src="{% static 'images/ai.png' %}" alt="AI" class="" />
        <div class="relative bg-[#23C69E0F] w-full h-full px-4 py-3">
          <label for="npm-install-copy-button" class="sr-only">Label</label>
          <input
            id="npm-install-copy-button"
            type="text"
            class="w-full"
            value="{{ value.response }}"
            disabled
            readonly
          />
          <div class="class_{{ key }}" style="display: none">
            {{ value.response }}
          </div>
          <div class="flex justify-end gap-x-2 mt-3">
            <button
              class="bg-white flex gap-x-2 items-center cursor-pointer px-2 -py-2"
              onclick="regenerate('{{ value.message }}')"
            >
              <img src="{% static 'images/reload.png' %}" alt="reload" />
              <p class="text-sm font-poppins">Regerenerate response</p>
            </button>
            <button
              data-copy-to-clipboard-target="npm-install-copy-button"
              data-tooltip-target="tooltip-copy-npm-install-copy-button"
              class=""
              onclick="copy('{{ key }}');"
              id="copy_{{ key }}"
            >
              <span
                id="default-icon"
                class="bg-white flex gap-x-2 items-center px-2 -py-1"
              >
                <img
                  src="{% static 'images/copy.png' %}"
                  alt="copy"
                  class="h-3"
                />
                <p class="text-sm font-poppins">Copy</p>
              </span>
            </button>
          </div>
          <div
            id="tooltip-copy-npm-install-copy-button"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message">Copy to clipboard</span>
            <span id="success-tooltip-message" class="hidden">Copied!</span>
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-xs mt-3 ml-14 font-poppins">{{ value.created_at }}</p>
    {% endif %} {% endfor %}

    <div class="mt-10">
      <p class="text-sm text-[#B7B7B7] font-poppins mt-3 ml-12 line">Today</p>
    </div>
  </div>
  <form class="message-form">
    {% csrf_token %}
    <div
      class="border-2 border-[#23C69E] rounded sticky bottom-5 bg-white shadow-lg p-3 mt-12"
    >
      <div class="flex justify-between">
        <div class="flex flex-1 items-center gap-x-2">
          <img src="{% static 'images/magic-wand-tool.png' %}" alt="Send" />
          <input
            type="text"
            class="outline-none w-full message-input"
            placeholder="Ask any question"
          />
        </div>
        <button type="submit">
          <img src="{% static 'images/Send-Icon.png' %}" alt="Send" />
        </button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector(".messages-list");
  const messageForm = document.querySelector(".message-form");
  const messageInput = document.querySelector(".message-input");

  function copy(id) {
    const messageDiv = document.querySelector("[class=class_" + id + "]");
    const copyDiv = document.querySelector("#copy_" + id);
    const copyHtml = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
</svg>`;

    const pasteHtml = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg>`;
    navigator.clipboard.writeText(messageDiv.innerHTML).then(
      function () {
        copyDiv.innerHTML = pasteHtml;
        setTimeout(() => {
          copyDiv.innerHTML = copyHtml;
        }, 2000);
      },
      function (err) {
        console.error("Async: Could not copy text: ", err);
      }
    );
  }

  function regenerate(message) {
    const messageItem = document.createElement("li");
    messageItem.classList.add("message", "sent");
    messageItem.innerHTML = `
    <div class="mt-8 flex gap-x-5 items-center">
      <img src="{% static 'images/basit.png' %}" alt="profile-img" />
      <p class="font-normal font-poppins">${message}</p>
    </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = "";

    fetch("", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams({
        csrfmiddlewaretoken: document.querySelector(
          "[name=csrfmiddlewaretoken]"
        ).value,
        message: message,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        const response = data.response;
        const id = Date.now().toString();
        const messageItem = document.createElement("div");
        messageItem.classList.add("message", "received");
        messageItem.innerHTML = `
        <div class="mt-8">
      <div class="flex items-start gap-x-3 w-[90%]">
        <img src="{% static 'images/ai.png' %}" alt="AI" class="" />
        <div class="relative bg-[#23C69E0F] w-full h-full px-4 py-3">
          <label for="npm-install-copy-button" class="sr-only">Label</label>
          <input
            id="npm-install-copy-button"
            type="text"
            class="w-full"
            value="${response}"
            disabled
            readonly
          />
          <div class="class_${id}" style="display: none">
            ${response}
          </div>
          <div class="flex justify-end gap-x-2 mt-3">
            <button
              class="bg-white flex gap-x-2 items-center cursor-pointer px-2 -py-2"
              onclick="regenerate('${message}')"
            >
              <img src="{% static 'images/reload.png' %}" alt="reload" />
              <p class="text-sm font-poppins">Regerenerate response</p>
            </button>
            <button
              data-copy-to-clipboard-target="npm-install-copy-button"
              data-tooltip-target="tooltip-copy-npm-install-copy-button"
              class=""
              onclick="copy('${id}');"
              id="copy_${id}"
            >
              <span
                id="default-icon"
                class="bg-white flex gap-x-2 items-center px-2 -py-1"
              >
                <img
                  src="{% static 'images/copy.png' %}"
                  alt="copy"
                  class="h-3"
                />
                <p class="text-sm font-poppins">Copy</p>
              </span>
            </button>
          </div>
          <div
            id="tooltip-copy-npm-install-copy-button"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message">Copy to clipboard</span>
            <span id="success-tooltip-message" class="hidden">Copied!</span>
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div> `;
        messagesList.appendChild(messageItem);
      });
  }

  messageForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement("div");
    messageItem.classList.add("message", "sent");
    messageItem.innerHTML = `
    <div class="mt-8 flex gap-x-5 items-center">
      <img src="{% static 'images/basit.png' %}" alt="profile-img" />
      <p class="font-normal font-poppins">${message}</p>
    </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = "";

    fetch("", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams({
        csrfmiddlewaretoken: document.querySelector(
          "[name=csrfmiddlewaretoken]"
        ).value,
        message: message,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        const response = data.response;
        const id = Date.now().toString();
        const messageItem = document.createElement("div");
        messageItem.classList.add("message", "received");
        messageItem.innerHTML = `
        <div class="mt-8">
      <div class="flex items-start gap-x-3 w-[90%]">
        <img src="{% static 'images/ai.png' %}" alt="AI" class="" />
        <div class="relative bg-[#23C69E0F] w-full h-full px-4 py-3">
          <label for="npm-install-copy-button" class="sr-only">Label</label>
          <input
            id="npm-install-copy-button"
            type="text"
            class="w-full"
            value="${response}"
            disabled
            readonly
          />
          <div class="class_${id}" style="display: none">
            ${response}
          </div>
          <div class="flex justify-end gap-x-2 mt-3">
            <button
              class="bg-white flex gap-x-2 items-center cursor-pointer px-2 -py-2"
              onclick="regenerate('${message}')"
            >
              <img src="{% static 'images/reload.png' %}" alt="reload" />
              <p class="text-sm font-poppins">Regerenerate response</p>
            </button>
            <button
              data-copy-to-clipboard-target="npm-install-copy-button"
              data-tooltip-target="tooltip-copy-npm-install-copy-button"
              class=""
              onclick="copy('${id}');"
              id="copy_${id}"
            >
              <span
                id="default-icon"
                class="bg-white flex gap-x-2 items-center px-2 -py-1"
              >
                <img
                  src="{% static 'images/copy.png' %}"
                  alt="copy"
                  class="h-3"
                />
                <p class="text-sm font-poppins">Copy</p>
              </span>
            </button>
          </div>
          <div
            id="tooltip-copy-npm-install-copy-button"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message">Copy to clipboard</span>
            <span id="success-tooltip-message" class="hidden">Copied!</span>
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div> `;
        messagesList.appendChild(messageItem);
      });
  });
</script>
{% endblock %}
