{% extends 'base.html' %}

{% block title %}Chat Log{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Chat Log</h1>

<!-- Table to display chat log -->
<div class="card mt-4">
  <div class="card-body">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Message</th>
                  <th scope="col">Response</th>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
              {% for chat in chats %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ chat.user }}</td>
                      <td>{{ chat.message }} <div data-message="{{ chat.message }}" style="cursor: pointer; display: inline;" onclick="copy('message_{{ chat.id }}');" id="message_{{ chat.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                      </svg></div></td>
                      <td>{{ chat.response }}  <div data-response="{{ chat.response }}" style="cursor: pointer; display: inline;" onclick="copy('response_{{ chat.id }}');" id="response_{{ chat.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                      </svg></div></td>
                      <td>{{ chat.created_at }}</td>
                      <td>
                          <form method="post" action="{% url 'insert_to_train' chat.id %}" style="display: inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-success btn-sm">Insert to Train Dataset</button>
                          </form>
                          <button class="btn btn-primary btn-sm modify-log data-chat-class" data-toggle="modal" data-target="#modifyModal"
                              data-chat-id="{{ chat.id }}" data-message="{{ chat.message }}" data-response="{{ chat.response }}">
                              Modify Log
                          </button>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>

<!-- Modify Log Modal -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyModalLabel">Modify Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form method="post" action="{% url 'modify_log' %}" id="modifyForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="response">Response:</label>
            <textarea class="form-control" id="response" name="response" rows="3"></textarea>
          </div>
          <input type="hidden" name="chat_id" id="chatIdInput" value="">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block scripts %}

<script>
  $(document).ready(function(){
    $('.modify-log').on('click', function () {
    var currentRow = $(this).closest('tr');
    var chatId = $(this).attr('data-chat-id');
    console.log(chatId);
    var message = currentRow.find('td:eq(1)').text();
    var response = currentRow.find('td:eq(2)').text();
  
    $('#chatIdInput').val($(this).attr('data-chat-id') || '');  // Ensure chatId is not empty
    $('#message').val(message);
    $('#response').val(response);
    $('#modifyForm').attr('action', '{% url "modify_log" %}');
  });
  })
  

  function copy(id) {
    const messageDiv = document.querySelector('[id='+id+']')
    const text = messageDiv.getAttribute(id.startsWith('response') ? 'data-response': 'data-message')
    const copyHtml = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>`

  const pasteHtml = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg>`
navigator.clipboard.writeText(text).then(function() {
  messageDiv.innerHTML = pasteHtml
  setTimeout(() => {
    messageDiv.innerHTML = copyHtml
  },2000)
}, function(err) {
  console.error('Async: Could not copy text: ', err);
});

  
  }

  </script>
  {% endblock %}