{% extends 'base.html' %}

{% block title %}Train Page{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Train Dataset</h1>
    
    <!-- Table to display questions and answers -->
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title mb-3">Question and Answers</h5>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Question</th>
              <th scope="col">Answer</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for qa in question_answers %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ qa.question }}</td>
                <td>{{ qa.answers }}</td>
                <td>
                  <form method="post" action="{% url 'delete' qa.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Form to insert new questions and answers -->
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title mb-3">Insert New Question and Answer</h5>
        <form method="post" action="{% url 'train' %}">
          {% csrf_token %}
          
          {{ form.as_p }}  <!-- Render the form fields -->

          <button type="submit" class="btn btn-primary">Submit Text Fields</button>
        </form>
      </div>
    </div>

    <!-- Form to upload Excel file -->
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title mb-3">Upload Excel File</h5>
        <form method="post" action="{% url 'train' %}" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- Add a file input field for uploading Excel file -->
          <div class="form-group">
            <label for="id_excel_file">Choose Excel File</label>
            <input type="file" name="excel_file" class="form-control-file" id="id_excel_file">
          </div>

          <button type="submit" class="btn btn-success">Upload Excel File</button>
        </form>
        <br>
        <!-- make button for initiate training -->
        <form method="post" action="{% url 'chain_initializer' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Initiate Training</button>
      </div>
    </div>
  </div>
{% endblock %}
